---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import image1 from '../components/img/foto.png';
---


<header class="flex justify-between w-full items-center py-4 ">
    <a class="text-sm text-gray-300 font-bold">Portafolio</a>
    <img src={image1.src} class="rounded-full w-full object-cover w-8 h-8 justify-end"  alt="Foto de Kevin Morelo" loading="lazy" class="w-full" />
</header>